@import "../../../resources/mixins";

.checkout {
  background-color: $white;
  border: 1px solid $gray-border;

  &-items {
    &-delivery-row, &-confirm, &-finish, &-authorization, &-payment {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
    }

    &-confirm-total {
      margin-top: 35px;
      padding-top: 20px;
      border-top: 5px solid $gray-border;

      &-item {
        margin-left: 30px;
        font-weight: bold;
        font-size: 15px;

        @media screen and (min-width: 992px) {
          & {
            font-size: 30px;
          }
        }
      }
    }

    &-finish {
      &-icon {
        color: $text-pink;
        font-size: 90px;
      }
    }
  }

  &-buttons {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $gray-back;

    &-back {
      background-color: $white;
      color: $text-pink;
      margin-right: 20px;

      &:hover {
        background-color: $back-pink-hover;
      }
    }
  }
}