@import "../../../resources/mixins";
.menu-top {
  &-auth {
    color: $text-pink;
    cursor:pointer;
  }

  &-logo img {
    height: 60px;
  }

  &-email {
    margin-right: 10px;
    color: $white;
  }
}