.another-service {
  &-button {
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
  }

  &-label {
    color: #98989a;
    font-size: 15px;
  }

  &-group {
    margin: 0 auto;
  }
}