.product-card-info {
  background: #fff;
  position: absolute;
  z-index: 2;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .4s opacity ease-out;
  text-align: center;

  &:hover {
    opacity: 0.9;
  }

  &-title {
    margin-bottom: 100px;
    font-size: 25px;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;

    & a {
      color: #000000a6;

      &:hover {
        color: #000000a6;
      }
    }
  }

  &-price {
    font-size: 30px;
    text-align: center;

    & span {
      font-weight: 900;
      color: #f6305f;
    }

    &-old {
      font-size: 16px;
      font-weight: normal;
      text-decoration: line-through;
      color: #999595;
    }
  }
}