@import "../../resources/mixins";

.pager {
  justify-content: center;
  margin-bottom: 30px;

  &-pagination {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum","tnum";

    & a {
      color: $gray-pager;

      &:hover {
        color: $gray-pager;
      }

      &:focus {
        text-decoration: none;
      }
    }

    & a.pager-pagination-active-link {
      color: $white;
    }

    &-item {
      font-weight: 900;
      min-width: 32px;
      text-align: center;
      list-style: none;
      vertical-align: middle;
      border: none;
      outline: 0;
      cursor: pointer;
      margin-right: 8px;
      display: inline-block;
      height: 32px;
      line-height: 32px;

      &-prev, &-next {
        font-weight: 300;
      }

      &-active {
        background-color: $text-pink;
        border-radius: 50%;
        transition: background-color .4s ease-in-out;

        &:hover {
          background-color: $text-pink-hover;
        }
      }
    }
  }

  //& a {
  //  min-width: 32px;
  //  min-height: 32px;
  //  text-align: center;
  //  border: none;
  //  outline: 0;
  //  cursor: pointer;
  //  color: $gray-pager;
  //  font-weight: 900;
  //
  //  &:hover {
  //    color: $gray-pager;
  //  }
  //
  //  &:focus {
  //    text-decoration: none;
  //  }
  //}
  //
  //& .active {
  //  background-color: $text-pink;
  //  border-radius: 50%;
  //}

}

.products {
  margin-top: 30px;
}