@import '../../../resources/mixins';

.menu-left {
  background-color: $white;
  border: 1px solid $gray-border;
  margin-bottom: 20px;

  @media screen and (min-width: 992px){
    & {
      margin-bottom: 0;
    }
  }

  &-search {
    margin-top: 10px;
  }
}