@import "../../../resources/mixins";

.product-button {
  background-color: $text-pink;
  color: $white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  height: 70px;
  width: 180px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color .4s ease-in-out;

  &:hover {
    background-color: $text-pink-hover;
  }
}