// Colors
$white: #ffffff;

$text: #74708d;
$text-lighten: #c0bdd0;
$text-darken: #615d7c;
$text-darken-more: #514d6a;
$text-pink: #f62f5e;
$text-pink-hover: #e41748;
$back-pink-hover: #f6dde3;

$gray: #d2d9e5;
$gray-back-hover: #c7c4c4;
$gray-border: #e4e9f0;
$gray-pager: #5b5b5b;
$gray-back: #efefef;
$gray-light: #b4b4b4;

// Accent colors
$primary: #0190fe;

// Font Family
$base__font-family: 'Nunito Sans', sans-serif !important;

// Font Size
$base__font-size: 13 !default;

// Convert value rem() sass mixin
@function rem($px, $base: $base__font-size) {
  @return #{floor( ($px/$base) * 100 ) / 100}rem; // to REMs
  // comment code above and uncomment below for change REMs to PXs
  //@return #{$px}px;
}