.product-card {
  padding: 20px;
  border: 1px solid #e4e9f0;
  margin-bottom: 30px;
  position: relative;
  background: #fff;
  transition: .4s box-shadow ease-out;
  z-index: 1;
  height: 500px;

  &:hover {
    box-shadow: 0 0 20px rgba(33, 33, 33, .3);
  }

  &-img {
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 65%;

    img {
      width: auto;
      height: 265px;
    }

    @media screen and (min-width: 769px) and (max-width: 992px) {
      img {
        width: auto;
        height: 250px;
      }
    }

    @media screen and (min-width: 993px) and (max-width: 1200px) {
      img {
        width: auto;
        height: 250px;
      }
    }

    @media screen and (min-width: 1201px) and (max-width: 1350px) {
      img {
        width: auto;
        height: 240px;
      }
    }
    @media screen and (min-width: 1351px) {
      img {
        width: auto;
        height: 300px;
      }
    }
  }

  &-title {
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    text-align: center;
  }

  &-price {
    font-size: 26px;
    text-align: center;

    & span {
      font-weight: 900;
      color: #f6305f;
    }

    &-old {
      font-size: 16px;
      font-weight: normal;
      text-decoration: line-through;
      color: #999595;
    }
  }
}