.check-box {
  text-align: center;

  &-option {
    padding: 10px 10px;
    background-color: #efefef;
    border-radius: 2px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    color: #6c6c6c;
    transition: .4s background-color ease-out;

    &:hover {
      background-color: #c7c4c4;
    }

    &-selected {
      background-color: #f62f5e;
      color: #fff;

      &:hover {
        background-color: #e41748;
      }
    }

    @media screen and (min-width: 993px) {
      & {
        font-size: 16px;
      }
    }
  }
}

.menu-left .check-box {
  display: flex;

  @media screen and (min-width: 993px) {
    & {
      display: block;
    }
  }

  &-option {
    width: 100%;
  }
}
