@import '../../../mixins';

.ant-pagination {
  &-item {
    font-weight: 900;
    border: none;
    background-color: transparent;

    &:hover a, &:active a, &:focus a {
      color: $gray-pager;
    }

    &-active {
      &:hover a, &:active a, &:focus a {
        color: $white;
      }

      background-color: $text-pink;
      color: $white;
      border-radius: 50%;
    }
  }
}

svg {
  vertical-align: -1px;
}