@import "../../../mixins";

.ant-steps-item-process .ant-steps-item-icon {
  background-color: $text-pink;
  border: none;
}

.ant-steps-item-finish .ant-steps-item-icon {
  border-color: $text-pink;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: $text-pink;
}

.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: $text-pink;
}
