@import "../../../../resources/mixins";

.cart-list {
  &-item img {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
  }

  &-remove-icon {
    color: $text-pink;
    cursor: pointer;

    &:hover {
      color: $text-pink-hover;
    }
  }
}