@import '../../../resources/mixins';

.product-details {
  margin: 26px !important;
  background-color: $white;
  padding: 20px;
  border: 1px solid $gray-border;

  &-item {
    padding: rem(20);
    border-radius: 5px;
    border: 1px solid $gray-border;
    margin-bottom: rem(35);
    position: relative;
    background: $white;

    .slick-slide {
      height: auto !important;
      background: none !important;
    }

    &-img {
      position: relative;
      text-align: center;
      height: rem(250);
      overflow: hidden;

      &-item {
        display: inline-block !important;
        min-height: rem(250);
        max-height: rem(250);
        max-width: 100%;
        transition: transform .4s ease-in-out;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }

    &-descr {
      &-sizes {
        font-style: normal;
        margin: rem(15) 0 rem(10);

        span {
          display: inline-block;
          margin-right: rem(5);
          border: 1px solid $gray;
          line-height: rem(14);
          border-radius: rem(20);
          padding: rem(3);
          min-width: rem(30);
          text-align: center;
          margin-bottom: rem(5);
        }
      }
    }
  }

  &-descr {
    margin-top: rem(10);
  }

  &-option {
    margin-bottom: rem(20);

    &:last-child {
      margin-bottom: rem(5);
    }

    .product-details--descr--sizes {
      margin: 0;
    }
  }

  &-option_title {
    color: $text;
    margin-bottom: rem(10);
  }

  &-price {
    font-size: rem(31);
    font-weight: bold;
    margin: 20px 0;
    color: $text-pink;
  }

  &-price-before {
    display: inline-block;
    margin-left: rem(10);
    font-size: rem(18);
    text-decoration: line-through;
    color: $text;
    position: relative;
    top: rem(-3);
    font-weight: normal;
  }

  &-controls {
    @media screen and (max-width: 992px) {
      & {
        text-align: center;
      }
    }

    & button {
      margin: rem(10);
    }
  }

  &-photos {
    margin-left: rem(-20);
    margin-top: rem(-15);
  }

  &-photos-item {
    margin-left: rem(20);
    width: calc(25% - 1.42rem);
    text-align: center;
    float: left;
    border: 1px solid $gray-border;
    border-radius: rem(5px);
    overflow: hidden;
    margin-bottom: rem(20);
    background: $white;
    cursor: pointer;

    img {
      width: rem(70);
      max-width: 100%;
    }

    &--active {
      border-color: $primary;
    }
  }

  &-main-title {
    margin-top: rem(20);
    color: $text-darken-more;
  }

  &-info {
    margin-top: rem(40);
  }
}