@import "../../../resources/mixins";

.cart {
  margin-bottom: 10px;

  &-item {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $gray-back;
    padding: 10px;

    &-attributes {
      margin-top: 10px;

      & h4 {
        font-size: 15px;
        color: $gray-pager
      }
    }

    &-title {
      font-size: 15px;

      &-icon {
        color: $text-pink;
      }
    }

    &-remove-icon {
      cursor: pointer;
      font-size: 20px;
      transition: color .4s ease-in-out;
      color: $text-pink;

      &:hover {
        color: $text-pink-hover;
      }
    }
  }

  & h3 {
    font-weight: bold;
    font-size: 20px;
    color: $gray-light;
  }
}

.total-price {
  margin-bottom: 20px;
  margin-top: 20px;

  &-value {
    color: $text-pink;
    font-size: 20px;
    margin-left: 10px;
  }
}